openapi: 3.0.1
info:
  title: Swagger TheMealBD
  description: |-
    Ceci est une spécification crée à partir des endpoints de l'API TheMealDB
  contact:
    email: fguibon@oxyl.fr
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://www.themealdb.com/api/json/v1/1
tags:
  - name: Filter
    description: Filter meals by attribute
  - name: Search
    description: Search meals
  - name: Lookup
    description: Lookup a meal
  - name: List
    description: List categories, areas and ingredients
paths:
  /filter.php:
    get:
      tags:
        - Filter
      summary: Filter meals by ingredient, category or area
      operationId: filter
      parameters:
        - name: i
          in: query
          description: Main ingredient name
          required: true
          schema:
            type: string
            default: chicken
        - name: c
          in: query
          description: Category
          required: false
          schema:
            type: string
        - name: a
          in: query
          description: Area
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealList'
        '400':
          description: Invalid ingredient value
  /search.php:
    get:
      tags:
        - Search
      summary: Search meals by first letter or name
      operationId: search
      parameters:
        - name: f
          in: query
          description: First letter of meal
          required: true
          schema:
            type: string
            default: a
        - name: s
          in: query
          description: Search by name of meal
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MealDetailed'
        '400':
          description: Invalid name
  /lookup.php:
    get:
      tags:
        - Lookup
      summary: Lookup meal by its id
      operationId: lookupById
      parameters:
        - name: i
          in: query
          description: Id of meal
          required: true
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MealDetailed'
        '400':
          description: Invalid id
  /random.php:
    get:
      tags:
        - Lookup
      summary: Lookup random meal
      operationId: random
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MealDetailed'
        '400':
          description: Invalid id
  /categories.php:
    get:
      tags:
        - List
      summary: List categories with details
      operationId: categoriesDetailed
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryDetailedList'
        '400':
          description: Invalid id
  /list.php:
    get:
      tags:
        - List
      summary: List ingredient, category or area
      operationId: listComponents
      parameters:
        - name: i
          in: query
          description: List ingredients
          required: true
          schema:
            type: string
            default: list
        - name: c
          in: query
          description: List categories
          required: false
          schema:
            type: string
            default: list
        - name: a
          in: query
          description: List areas
          required: false
          schema:
            type: string
            default: list
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/MealComponentList'
        '400':
          description: Invalid ingredient value
components:
  schemas:
    Meal:
      type: object
      properties:
        strMeal:
          type: string
          example: "Katsu Chicken curry"
        strMealThumb:
          type: string
          example: "https://www.themealdb.com/images/media/meals/vwrpps1503068729.jpg"
        idMeal:
          type: integer
          format: int64
          example: 1
    MealList:
      type: object
      properties:
        meal:
          type: array
          items:
            $ref: '#/components/schemas/Meal'
    MealDetailed:
      type: object
      properties:
        idMeal:
          type: string
          example: "52768"
        strMeal:
          type: string
          example: "Apple Frangipan Tart"
        strDrinkAlternate:
          type: string
          example: ""
        strCategory:
          type: string
          example: "Dessert"
        strArea:
          type: string
          example: "British"
        strInstructions:
          type: string
          example: "Preheat the oven to 200C/180C Fan/Gas 6.\r\nPut the biscuits in a large re-sealable freezer bag and bash with a rolling pin into fine crumbs. Melt the butter in a small pan, then add the biscuit crumbs and stir until coated with butter. Tip into the tart tin and, using the back of a spoon, press over the base and sides of the tin to give an even layer. Chill in the fridge while you make the filling.\r\nCream together the butter and sugar until light and fluffy. You can do this in a food processor if you have one. Process for 2-3 minutes. Mix in the eggs, then add the ground almonds and almond extract and blend until well combined.\r\nPeel the apples, and cut thin slices of apple. Do this at the last minute to prevent the apple going brown. Arrange the slices over the biscuit base. Spread the frangipane filling evenly on top. Level the surface and sprinkle with the flaked almonds.\r\nBake for 20-25 minutes until golden-brown and set.\r\nRemove from the oven and leave to cool for 15 minutes. Remove the sides of the tin. An easy way to do this is to stand the tin on a can of beans and push down gently on the edges of the tin.\r\nTransfer the tart, with the tin base attached, to a serving plate. Serve warm with cream, crème fraiche or ice cream."
        strMealThumb:
          type: string
          example: "https://www.themealdb.com/images/media/meals/wxywrq1468235067.jpg"
        strTags:
          type: string
          example: "Tart,Baking,Fruity"
        strYoutube:
          type: string
          example: "https://www.youtube.com/watch?v=rp8Slv4INLk"
        strIngredient1:
          type: string
          example: "digestive biscuits"
        strIngredient2:
          type: string
          example: "butter"
        strIngredient3:
          type: string
          example: "Bramley apples"
        strIngredient4:
          type: string
          example: "Salted Butter"
        strIngredient5:
          type: string
          example: "caster sugar"
        strIngredient6:
          type: string
          example: "free-range eggs, beaten"
        strIngredient7:
          type: string
          example: "ground almonds"
        strIngredient8:
          type: string
          example: "almond extract"
        strIngredient9:
          type: string
          example: "flaked almonds"
        strIngredient10:
          type: string
          example: ""
        strIngredient11:
          type: string
          example: ""
        strIngredient12:
          type: string
          example: ""
        strIngredient13:
          type: string
          example: ""
        strIngredient14:
          type: string
          example: ""
        strIngredient15:
          type: string
          example: ""
        strIngredient16:
          type: string
          example: null
        strIngredient17:
          type: string
          example: null
        strIngredient18:
          type: string
          example: null
        strIngredient19:
          type: string
          example: null
        strIngredient20:
          type: string
          example: null
        strMeasure1:
          type: string
          example: "175g/6oz"
        strMeasure2:
          type: string
          example: "75g/3oz"
        strMeasure3:
          type: string
          example: "200g/7oz"
        strMeasure4:
          type: string
          example: "75g/3oz"
        strMeasure5:
          type: string
          example: "75g/3oz"
        strMeasure6:
          type: string
          example: "2"
        strMeasure7:
          type: string
          example: "75g/3oz"
        strMeasure8:
          type: string
          example: "1 tsp"
        strMeasure9:
          type: string
          example: "50g/1¾oz"
        strMeasure10:
          type: string
          example: ""
        strMeasure11:
          type: string
          example: ""
        strMeasure12:
          type: string
          example: ""
        strMeasure13:
          type: string
          example: ""
        strMeasure14:
          type: string
          example: ""
        strMeasure15:
          type: string
          example: ""
        strMeasure16:
          type: string
          example: null
        strMeasure17:
          type: string
          example: null
        strMeasure18:
          type: string
          example: null
        strMeasure19:
          type: string
          example: null
        strMeasure20:
          type: string
          example: null
        strSource:
          type: string
          example: null
        strImageSource:
          type: string
          example: null
        strCreativeCommonsConfirmed:
          type: string
          example: null
        dateModified:
          type: string
          example: null
    CategoryDetailedList:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategoryDetailed"
    CategoryDetailed:
      type: object
      properties:
        idCategory:
          type: string
          example: "3"
        strCategory:
          type: string
          example: "Dessert"
        strCategoryThumb:
          type: string
          example: "https://www.themealdb.com/images/category/dessert.png"
        strCategoryDescription:
          type: string
          example: "Dessert is a course that concludes a meal. The course usually consists of sweet foods, such as confections dishes or fruit, and possibly a beverage such as dessert wine or liqueur, however in the United States it may include coffee, cheeses, nuts, or other savory items regarded as a separate course elsewhere. In some parts of the world, such as much of central and western Africa, and most parts of China, there is no tradition of a dessert course to conclude a meal.\r\n\r\nThe term dessert can apply to many confections, such as biscuits, cakes, cookies, custards, gelatins, ice creams, pastries, pies, puddings, and sweet soups, and tarts. Fruit is also commonly found in dessert courses because of its naturally occurring sweetness. Some cultures sweeten foods that are more commonly savory to create desserts."
    MealComponentList:
      type: object
      properties:
        meals:
          type: array
          items:
            $ref: "#/components/schemas/MealComponent"
    MealComponent:
      type: object
      properties:
        strCategory:
          type: string
          example: "Dessert"
        idIngredient:
          type: string
          example: "41"
        strIngredient:
          type: string
          example: "Butter"
        strDescription:
          type: string
          example: null
        strType:
          type: string
          example: null
        strArea:
          type: string
          example: "American"